
{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h2 class="mb-3">Carrinho de Compras</h2>
    {% if cart_items %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço Unitário</th>
                    <th>Preço Total</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.nome }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.preco }}</td>
                    <td>{{ item.total_price }}</td>
                    <td><a href="{% url 'cart:remove_from_cart' item.id %}">Remover</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    
    {% else %}
        <p>Seu carrinho está vazio!</p>
    {% endif %}
</div>
{% endblock %}