{% extends 'base.html' %}

{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image"
                        href    ="#">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                            src="{{ produto.imagem.url }}" />
                    </a>
                </div>

                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>

            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{ produto.nome }} <br />
                    </h4>
                    <br>

                    <div class="mb-3">
                        <span class="h5"> R$ {{ produto.preco }}</span>
                    </div>

                    <p>{{ produto.descricao }}</p>

                    <div class="row">
                        <dt class="col-3">Marca:</dt>
                        <dd class="col-9">{{ produto.marca }}</dd>

                        <dt class="col-3">Categoria:</dt>
                        <dd class="col-9">{{ produto.categoria }}</dd>
                    </div>
                    <br>
                </div>
            

            <a href="#" class="btn btn-warning shadow-0"> Buy now </a>
            <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to
                cart </a>
        </div>
        </main>
    </div>
    </div>
</section>

{% endblock %}